<header class="header">

  <nav class="navbar">


    <div routerLink="home" class="navbar__branding-box">
      <svg class="navbar__logo">
        <use xlink:href="/assets/img/sprite.svg#icon-barcode"></use>
      </svg>

      <div class="navbar__branding">
        DPMO
      </div>
    </div>


    <div class="navbar__menu-box">
      <ul *ngIf="!menuCollapse" class="navbar__list">
        <li class="navbar__item" routerLinkActive="active"><a routerLink="home" class="navbar__link">Home</a></li>
        <li class="navbar__item" [routerLinkActive]="['active']"><a routerLink="dashboard" class="navbar__link">Dashboard</a></li>
        <li class="navbar__item" [routerLinkActive]="['active']"><a routerLink="risk" class="navbar__link">Risk</a></li>
        <li class="navbar__item" [routerLinkActive]="['active']"><a routerLink="issues"class="navbar__link">Issues</a></li>
        <li class="navbar__item" [routerLinkActive]="['active']"><a routerLink="decisons" class="navbar__link">Decisons</a></li>
      </ul>
        <svg *ngIf="menuCollapse" class="navbar__menu-logo" (click)="expandMenu()">
          <use xlink:href="/assets/img/sprite.svg#icon-menu"></use>
        </svg>      
    </div>

  </nav>
</header>

<section *ngIf="expand" class="menu-expand">
  <ul *ngIf="menuCollapse" class="menu-expand__list">
    <li class="menu-expand__item" routerLinkActive="active-expand"><a routerLink="home" (click)="expandMenu()" class="menu-expand__link"><span class="arrow-icon">&rsaquo;&nbsp; </span>Home</a></li>
    <li class="menu-expand__item" [routerLinkActive]="['active-expand']"><a routerLink="dashboard" (click)="expandMenu()"  class="menu-expand__link"><span class="arrow-icon">&rsaquo;&nbsp; </span>Dashboard</a></li>
    <li class="menu-expand__item" [routerLinkActive]="['active-expand']"><a routerLink="risk" (click)="expandMenu()"  class="menu-expand__link"><span class="arrow-icon">&rsaquo;&nbsp; </span>risk</a></li>
    <li class="menu-expand__item" [routerLinkActive]="['active-expand']"><a routerLink="issues" (click)="expandMenu()"  class="menu-expand__link"><span class="arrow-icon">&rsaquo;&nbsp; </span>Issues</a></li>
    <li class="menu-expand__item" [routerLinkActive]="['active-expand']"><a routerLink="decisons" (click)="expandMenu()"  class="menu-expand__link"><span class="arrow-icon">&rsaquo;&nbsp; </span>Decisons</a></li>
  </ul>
</section>

<section *ngIf="!expand" class="menu-unexpand">
  <ul class="menu-unexpand__list">
    <li class="menu-unexpand__item"><a class="menu-unexpand__link"><span class="arrow-icon">&rsaquo;&nbsp; </span>Home</a></li>
    <li class="menu-unexpand__item"><a class="menu-unexpand__link"><span class="arrow-icon">&rsaquo;&nbsp; </span>Dashboard</a></li>
    <li class="menu-unexpand__item"><a class="menu-unexpand__link"><span class="arrow-icon">&rsaquo;&nbsp; </span>risk</a></li>
    <li class="menu-unexpand__item"><a class="menu-unexpand__link"><span class="arrow-icon">&rsaquo;&nbsp; </span>Issues</a></li>
    <li class="menu-unexpand__item"><a class="menu-unexpand__link"><span class="arrow-icon">&rsaquo;&nbsp; </span>Decisions</a></li>
  </ul>
</section>
