<section class="risk-log">

  <div class="log-card">
    <div class="log-card__heading-box">
      <svg class="log-card__heading-logo">
        <use xlink:href="/assets/img/sprite.svg#icon-book"></use>
      </svg>
      <h2 class="log-card__heading">Risk Log</h2>
    </div>

    <mat-table class="table" [dataSource]="dataSource">

      <ng-container matColumnDef="_id">
        <mat-header-cell class="table__header" *matHeaderCellDef># ID</mat-header-cell>
        <mat-cell class="table__item" *matCellDef="let risk">{{ risk._id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="owner">
        <mat-header-cell class="table__header" *matHeaderCellDef>
          <svg class="table__header-icon">
            <use xlink:href="/assets/img/sprite.svg#icon-user-tie"></use>
          </svg>&nbsp;
          Owner</mat-header-cell>
        <mat-cell class="table__item" *matCellDef="let risk">{{ risk.owner}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateRaised">
        <mat-header-cell class="table__header" *matHeaderCellDef> <svg class="table__header-icon">
            <use xlink:href="/assets/img/sprite.svg#icon-calendar"></use>
          </svg>&nbsp; Date Raised</mat-header-cell>
        <mat-cell class="table__item" *matCellDef="let risk">{{ risk.dateRaised | date: 'M/dd/yyyy' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell class="table__header" *matHeaderCellDef>
          <svg class="table__header-icon">
            <use xlink:href="/assets/img/sprite.svg#icon-drawer"></use>
          </svg>&nbsp; Category</mat-header-cell>
        <mat-cell class="table__item" *matCellDef="let risk">{{ risk.category }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="probability">
        <mat-header-cell class="table__header" *matHeaderCellDef> 
          <svg class="table__header-icon">
          <use xlink:href="/assets/img/sprite.svg#icon-stats-dots"></use>
        </svg>&nbsp; Probability</mat-header-cell>
        <mat-cell class="table__item table__item--probability" *matCellDef="let risk">{{ risk.probability }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="impact">
        <mat-header-cell class="table__header" *matHeaderCellDef>
          <svg class="table__header-icon">
          <use xlink:href="/assets/img/sprite.svg#icon-bomb"></use>
        </svg>&nbsp; Impact</mat-header-cell>
        <mat-cell class="table__item" *matCellDef="let risk">{{ risk.impact }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="rating">
        <mat-header-cell class="table__header" *matHeaderCellDef>
          <svg class="table__header-icon">
          <use xlink:href="/assets/img/sprite.svg#icon-meter"></use>
        </svg>&nbsp; Rating</mat-header-cell>
        <mat-cell class="table__item" *matCellDef="let risk">{{ risk.rating }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row class="table__row" *matRowDef="let row; columns: tableColumns"></mat-row>



    </mat-table>




  </div>

</section>
