.slideInLeft {
  animation: slideInLeft;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.slideInRight {
  animation: slideInRight;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.slideOutRight {
  animation: slideOutRight;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes expand {
  0% {
    opacity: 0;
    height: 0;
    box-shadow: 0rem .1rem .5rem rgba($primary-text-color, 0);

  }


  100% {
    height: 22rem;
    opacity: 1;
    margin-bottom: 2rem;
    box-shadow: 0rem .1rem .5rem rgba($primary-text-color, .2);

  }
}

@keyframes unexpand {
  0% {
    height: 22rem;
    opacity: 1;
    box-shadow: 0rem .1rem .5rem rgba($primary-text-color, .2);

    

  }


  100% {
    height: 0;
    box-shadow: 0rem .1rem .5rem rgba($primary-text-color, .0);

  }
}



@keyframes slideOutUpCustom {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: .4;
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
}

@keyframes menu-animation {
  0% {
    width: 0%;

  }

  100% {

    width: 100%;

  }
}

