<div class="risks-box">
  <div class="risks-card slideInLeft" [ngClass]="isLoaded ? 'slideOutRight' : 'slideInLeft'">

    <div class="risks-card__title" >
        <svg class="risks-card__logo">
            <use xlink:href="/assets/img/sprite.svg#icon-warning"></use>
          </svg>
      <h3 class="risks-card__heading">There is no risk raised in your project yet. </h3>
      <h4 class="risks-card__subheading">Click below to initiate a risk log.</h4>
      <button  class="risks-card__button" mat-raised-button (click)="onCreateRisk()">Create log</button>
    </div>

  </div>
</div>

<router-outlet></router-outlet>



