<section class="create-risk">

  <form [formGroup]="riskForm" (ngSubmit)="onSubmit()" class="create-risk__form">

    <div class="risk-card">
      <div class="risk-card__heading-box">
        <svg class="risk-card__heading-logo">
          <use xlink:href="/assets/img/sprite.svg#icon-add-outline"></use>
        </svg>
        <h2 class="risk-card__heading">Create risk</h2>
      </div>


      <div class="col-2">

        <div class="risk-card__input-box">
          <div class="risk-card__label-box">
            <svg class="risk-card__icon">
              <use xlink:href="/assets/img/sprite.svg#icon-user-tie"></use>
            </svg>
            <label for="tag" class="risk-card__label">Risk Owner</label>
          </div>

          <div class="wrapper">
            <input formControlName="tag" name="tag" is="tag" type="text" class="risk-card__input">
          </div>
          <small *ngIf="riskForm.get('tag').invalid && riskForm.get('tag').touched" class="risk-card__error">Enter a
            valid risk owner</small>
        </div>



        <div class="risk-card__input-box">
          <div class="risk-card__label-box">
            <svg class="risk-card__icon">
              <use xlink:href="/assets/img/sprite.svg#icon-calendar"></use>
            </svg>
            <label for="dateRaised" class="risk-card__label">Date raised</label>
          </div>
          <div class="risk-card__date-box">
            <input form [matDatepicker]="picker" formControlName="dateRaised" name="dateRaised" id="dateRaised" matInput
              name="dateRaised" type="text" class="risk-card__input risk-card__date-input">
            <mat-datepicker-toggle class="risk-card__toggler" matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <small *ngIf="riskForm.get('dateRaised').invalid && riskForm.get('dateRaised').touched"
              class="risk-card__error">Enter a valid date</small>
          </div>

        </div>


      </div>

      <div class="risk-card__input-box">
        <div class="risk-card__label-box">
          <svg class="risk-card__icon">
            <use xlink:href="/assets/img/sprite.svg#icon-pencil"></use>
          </svg>
          <label for="description" class="risk-card__label">Risk Description</label>
        </div>
        <textarea formControlName="description" name="description" id="description" matInput name="description"
          is="description" type="description" class="risk-card__input" cdkTextareaAutosize
          cdkAutosizeMinRows="3"></textarea>
        <small *ngIf="riskForm.get('description').invalid && riskForm.get('description').touched"
          class="risk-card__error">Enter a risk description</small>
      </div>

      <div class="risk-card__input-box">
        <div class="risk-card__label-box">
          <svg class="risk-card__icon mb-1">
            <use xlink:href="/assets/img/sprite.svg#icon-drawer"></use>
          </svg>
          <label for="category" class="risk-card__label">Risk Category</label>
        </div>
        <mat-select formControlName="category" name="category" id="category" class="risk-card__input"
          [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="quality">Quality</mat-option>
          <mat-option value="resource">Resource</mat-option>
          <mat-option value="security">Security & Privacy</mat-option>
        </mat-select>
        <small *ngIf="riskForm.get('category').invalid && riskForm.get('category').touched"
          class="risk-card__error">Select a category</small>
      </div>

      <div class="col-2">

        <div class="risk-card__input-box">
          <div class="risk-card__label-box">
            <svg class="risk-card__icon mb-1">
              <use xlink:href="/assets/img/sprite.svg#icon-bomb"></use>
            </svg>
            <label for="category" class="risk-card__label">Impact
            </label>
          </div>
          <mat-slider formControlName="impact" name="impact" min="1" max="100" step="1" color="primary">
          </mat-slider>
          <div class="risk-card__score-box">
            <span class="risk-card__perc">{{ impactValue }}<span class="risk-card__symbol">%</span> </span>
            <span class="risk-card__rating risk-card__rating--low" *ngIf="impactValue <= 33"
              matBadgeColor="warn">LOW</span>
            <span class="risk-card__rating risk-card__rating--med"
              *ngIf="impactValue > 33 && this.impactValue <= 66">MED</span>
            <span class="risk-card__rating risk-card__rating--high" *ngIf="impactValue > 66">HIGH</span>
          </div>
        </div>


        <div class="risk-card__input-box">
          <div class="risk-card__label-box">
            <svg class="risk-card__icon mb-1">
              <use xlink:href="/assets/img/sprite.svg#icon-stats-dots"></use>
            </svg>
            <label for="category" class="risk-card__label">Probabilty
            </label>
          </div>
          <mat-slider formControlName="probability" name="probability" min="1" max="100" step="1" color="primary">
          </mat-slider>
          <div class="risk-card__score-box">
            <span class="risk-card__perc">{{ probabilityValue }}<span class="risk-card__symbol">%</span> </span>
            <span class="risk-card__rating risk-card__rating--low" *ngIf="probabilityValue <= 33"
              matBadgeColor="warn">LOW</span>
            <span class="risk-card__rating risk-card__rating--med"
              *ngIf="probabilityValue > 33 && this.probabilityValue <= 66">MED</span>
            <span class="risk-card__rating risk-card__rating--high" *ngIf="probabilityValue > 66">HIGH</span>
          </div>
        </div>


      
        <div class="risk-card__input-box">
          <div class="risk-card__label-box">
            <svg class="risk-card__icon mb-1">
              <use xlink:href="/assets/img/sprite.svg#icon-bookmark"></use>
            </svg>
            <label for="category" class="risk-card__label">Rating
            </label>
          </div>
          <mat-slider formControlName="rating" name="rating" min="1" max="100" step="1" color="primary">
          </mat-slider>
          <div class="risk-card__score-box">
            <span class="risk-card__perc">{{ ratingValue }}<span class="risk-card__symbol">%</span> </span>
            <span class="risk-card__rating risk-card__rating--low" *ngIf="ratingValue <= 33"
              matBadgeColor="warn">LOW</span>
            <span class="risk-card__rating risk-card__rating--med"
              *ngIf="ratingValue > 33 && this.ratingValue <= 66">MED</span>
            <span class="risk-card__rating risk-card__rating--high" *ngIf="ratingValue > 66">HIGH</span>
          </div>
        </div>


      </div>



      <button class="mt-2 button" mat-raised-button color="primary">Add risk</button>
    </div>

  </form>

</section>
